*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}
/*END OF CSS RESET*/

.card {
    padding: 10px;
    width: 300px;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    border: 3px solid;
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
}
button {
    
    padding: 5px;
    background: rgb(241, 194, 40);
    border: none;
    border-radius: 3px;
    font-weight: 900;
}
input {
    border: 3px solid;
}


